body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
}

header{
    background:#1e293b;
    padding:60px;
    text-align:center;
}

header h1{
    font-size:50px;
    margin:0;
}

header p{
    color:#94a3b8;
}

section{
    width:80%;
    margin:auto;
    padding:40px;
}

.card{
    background:#1e293b;
    padding:20px;
    margin:20px 0;
    border-radius:15px;
}

h2{
    color:#38bdf8;
}

.profile {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px auto;
    border: 5px solid white;
    box-shadow: 0 8px 20px rgba(0,0,0,.3);
}
